header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}

.text-tic {
    color: #545454;
}

.text-tac {
    color: #00A193;
}

.text-toe {
    color: #FFFFFF;
}

.button-reset {
    width: 123px;
    height: 30px;
    background-color: #00867B;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    column-gap: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px #05736A;
}

.button-reset span {
    color: #FFFFFF;
}

.button-reset img {
    width: 15.25px;
    height: 16.79px;
}

main {
    margin-top: 54px;
    margin-bottom: 46px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

main div {
    height: 96px;
    border-left: 9.41px solid #00A193;
    border-bottom: 9.41px solid #00A193;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:nth-child(1), 
main div:nth-child(4), 
main div:nth-child(7) {
    border-left: none;
}

main div:nth-child(7), 
main div:nth-child(8), 
main div:nth-child(9) {
    border-bottom: none;
}

.round {
    display: flex;
    column-gap: 11px;
    justify-content: center;
    align-items: center;
}

.round > span {
    font-weight: 700;
    font-size: 20px;
}

.round > span:first-child {
    color: #FFF;
}

.round > span:last-child {
    color: #038075;
    background-color: #FFFFFF;
    width: 20px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.scores {
    margin-top: 24px;
    background-color: #00867B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-radius: 8px;
}

.score-user, .score-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    color: #FFFFFF;
}

#score-user, #score-computer {
    font-size: 20px;
    font-weight: 700;
}

.divider {
    width: 92px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
}

.divider div {
    position: absolute;
}

.divider div:first-child {
    z-index: 1;
    font-weight: 700;
    font-size: 24px;
    left: 31px;
    color: #03655D;
    text-shadow:
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.divider .line {
    width: 69.32px;
    border: 2px solid #03655D;
    transform: rotate(119deg);
}